footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  box-shadow: lightgray 0 0 5px;
}

footer a img {
  height: 20px;
  vertical-align: top;
}

application {
  padding-top: 10px;
  padding-bottom: 50px;
}
