type {
  display: inline-block;
  position: relative;
}

.type-popup {
  position: absolute;
  z-index: 1;
  width: 250px;
  box-shadow: lightgray 0 0 5px;
  color: black !important;
  text-align: left !important;
}


.btn.btn-outline-primary.btn-cpptype {
  padding: 2px 5px;
}
